/* css para componente Conocimientos */ 



@media (max-width: 768px) {
    #titletecno {
        text-align: center;
    }
}

/* diseño del div de tecnologías */
.iconostecno {
    background-color: white;
    -webkit-box-shadow: 0px 0px 45px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 45px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 45px 1px rgba(0,0,0,0.75);
    border-radius: 21px 21px 21px 21px;
}

#mglittle {
    height: 300px;
    margin-bottom: 100px;
}





@media (min-width : 576px) {
    #mglittle {
        display: none;
    }
}

/* tamaño iconos en pantallas xs (móvil) */
@media (max-width : 575px) {

    #medbig {
        display: none;
    }

    #sveltepng, #reactpng, #vuepng, #phppng, #bootstrappng, #mysqlpng, #gitpng {
        max-width: 100px;
    }
    
    .placec {
        place-content: center center;
    }

}

@keyframes aparecerr {
    0% {
      opacity: 0;
      transform: scale(0);
    }
  
    100% {
      opacity: 1;
      transform : scale(1);
    }
}

#icontecno {
    max-width: 50px;
    padding-left: 10px;
    animation-duration: 4s;
    animation-name: aparecerr;
}


@media (min-width : 575px) {
    #sveltepng, #reactpng, #vuepng, #phppng, #bootstrappng, #mysqlpng, #gitpng {
        max-width: 100px;
    }
    
    .placec {
        place-content: center center;
    }
}

