/*  css para componente FotoPerfil  */

#javier {
    border-radius: 60%;
    /*-webkit-box-shadow: 4px 2px 25px 8px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 2px 25px 8px rgba(0,0,0,0.75);
    box-shadow: 4px 2px 25px 8px rgba(0,0,0,0.75); */
    max-width: 200px;
}

@media (min-width : 1400px) {
    #javier {
        max-width: 250px;
    }
}

@media (max-width : 500px) {
    #javier {
        max-width: 160px;
    }
}

@media (min-width : 500px) and (max-width : 1400px) {
    #javier {
        max-width: 200px;
    }
}

span {
    font-size: 4vw;
}

@media (max-width : 576px) {
    span {
        font-size: 7vw;
    }

    #textini {
        font-size: 3vw!important;
    }
}

span, p {
    text-shadow : 0px 0px 30px #000000;
}

#textini {
    font-size: 900;
}


