/*  css para componente FotoPerfil  */

img {
    border-radius: 60%;
    -webkit-box-shadow: 4px 2px 25px 8px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 2px 25px 8px rgba(0,0,0,0.75);
    box-shadow: 4px 2px 25px 8px rgba(0,0,0,0.75);
}

span {
    font-size: 3vw;
}