/* diseño para componente de proyectos */

.card:hover {
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
    transition: 0.5s;
}

.textproyect {
    font-size: small;
}

@media (max-width : 720px) {
    #firstproyect {
        margin-bottom: 20px;
    }

    
}

@media (min-width: 720px) {
    #desaparece {
        display: none;
    }
}

@media (max-width : 576px) {
    #titleproyectos {
        text-align: center;
    }
}

#iconoproject {
    max-width: 40px;
    margin-left: 10px;
}

.namepro {
    text-decoration: underline;
}

.card-text, .card-header {
    color: black;
    text-shadow: none;
}

.card-header {
    font-size: 1.5rem;
}

.card-text {
    font-size: 14px;
}

.card-img-top {
    padding-top: 10px;
    width: 170px;
    align-self: center;
}


.githuba {
    text-decoration: none;
    color: cornflowerblue;
    float: right;
}


.icogit {
    width: 50px;
}