/* diseño para componente de proyectos */

@media (min-width: 768px) {
    #titleproyectos {
        text-align: right;
        padding-right : 45px;
    }
}

@media (max-width: 768px) {
    #titleproyectos {
        text-align: center;
    }
}

.divproyecto {
    -webkit-box-shadow: 0px 0px 45px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 45px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 45px 1px rgba(0,0,0,0.75);
    border-radius: 21px 21px 21px 21px;
    background-image: url('../img/cosmic.jpg');
    padding: 10px;
}



.divproyecto a {
    text-decoration: none;
    color: white;
}

.textoproyect {
    font-size: 1em;
}