/* media queries para título de tecnologías */


@media (max-width: 768px) {
    #titlesobremi {
        text-align: center;
    }

    #sobremippal {
        padding-top: 40px;
    }
}

span, p {
    text-shadow : 0px 0px 30px #000000;
}

#textsobremi {
    text-align: justify;
    font-size: large;
}

